div(class="uk-section uk-section-muted")
  div(class="uk-container")
    h2 Это основной контент
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt velit veritatis corporis dolorem iure odit perferendis recusandae nesciunt, illum, quam sit maxime ut voluptate officiis voluptatibus et repudiandae, corrupti nam!1111222ф ыва фывалдо 
